<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Message</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    img{
        margin-top: 0.05rem;
    }
    #u1,#u2,#u3{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 60px;
        color: #5a5c5b;
        margin-left: 540px;
        margin-top: 20px;
    }
    #u2{
        font-size: 40px;
        color: #454746;
        margin-left: 420px;
    }
    #u3{
        margin-top: 40px;
        font-size: 30px;
        color: #393b3a;
        margin-left: 290px;
        font-style: italic;
    }
</style>
<body>
    <center><img src="https://png.pngtree.com/png-vector/20190228/ourmid/pngtree-check-mark-icon-design-template-vector-isolated-png-image_711429.jpg" alt="file upload Success" width="250"><br></center>
    <div id="u1">Upload</div>
    <div id="u2">File uploaded successfully</div>
    <div id="u3">Thank you for applying. You will be contacted soon!</div>
</body>
</html>